* {
    font-family: Arial, Helvetica, sans-serif;

}

button:hover {
    font-style: italic;
}

#homeBody, #homeHtml {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

#nameContainer, #buttonContainer {
    text-shadow: 1px 1px #fff;
}