{% extends 'index.html' %}

{% block content %}
  <div>
    <div class='container mb-5'>
      <h1>Creative portfolio is still being developed</h1>
    </div>
    <div class='container text-center'>
      <div class='row align-items-center'>
        <div class='col'>
          <img id='k1000' class='img-fluid img-thumbnail' style='width: 400px' src='/static/images/K1000.jpg'/>
        </div>
        <div class='col align-items-center'>
          <a class='m-4 text-decoration-none display-5' href='creative/photography'>Photography</a>
        </div>  
      </div>
    </div>
  </div>
{% endblock content%}