{% extends 'index.html' %}

{% block content %}
  <div>
    <div class='container align-items-center text-center'>
      <div class='row align-items-center'>
        <div class='col'>
        <a href='creative/photography' >
          <img id='camera' class='img-fluid bg-transparent opacity-75' style='width: 50%' src='/static/images/Designer.png'></a>
        </a>
        </div>
        <div class='col align-items-center'>
          <a id='photography_button' class='m-4 text-decoration-none display-5 text-reset text-decoration-none' href='creative/photography'>Photography</a>
        </div>  
      </div>
    </div>
  </div>
{% endblock content%}