{% extends 'index.html' %}
{% block content%}
<div id="gallery">
  <div class='row align-items-start text-center g-2 mb-2'>
    <h1 class='mt-4 mb-2 p-2'>Sports</h1>
    <div class = 'col-sm-12 col-md-4'>
    {% for i in actionImgCol1 %}
      <div class = "vstack">
        <img class = 'img-fluid mt-2 border border-5 border-white' src="../static/images/action/{{i}}" />
      </div>
    {% endfor %}
    </div>
    <div class = 'col-sm-12 col-md-4 '>
    {% for i in actionImgCol2 %}
      <div class = "vstack">
        <img class = 'img-fluid mt-2 border border-5 border-white' src="../static/images/action/{{i}}" />
      </div>
    {% endfor %}
    </div>
    <div class = 'col-sm-12 col-md-4'>
      {% for i in actionImgCol3 %}
        <div class = "vstack">
          <img class = 'img-fluid mt-2 border border-5 border-white' src="../static/images/action/{{i}}" />
        </div>
      {% endfor %}
      </div>
  </div>
  <div class='row align-items-start text-center g-2 mb-2'>
    <h1 class='mt-4 mb-2 p-2'>Products</h1>
    <div class = 'col-sm-12 col-md-4'>
    {% for i in productsImgCol1 %}
      <div class = "vstack">
        <img class = 'img-fluid mt-2 border border-5 border-white' src="../static/images/products/{{i}}" />
      </div>
    {% endfor %}
    </div>
    <div class = 'col-sm-12 col-md-4'>
    {% for i in productsImgCol2 %}
      <div class = "vstack">
        <img class = 'img-fluid mt-2 border border-5 border-white' src="../static/images/products/{{i}}" />
      </div>
    {% endfor %}
    </div>
    <div class = 'col-sm-12 col-md-4'>
      {% for i in productsImgCol3 %}
        <div class = "vstack">
          <img class = 'img-fluid mt-2 border border-5 border-white' src="../static/images/products/{{i}}" />
        </div>
      {% endfor %}
      </div>
  </div>  
</div>
<script src="{{url_for('static', filename='./scripts/lightbox.js')}}"></script>
{% endblock content %}